/* Import fonts fromt Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/* Wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    /* Ensures Height and Width will affect entire element, including the border */
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    /* Flex will apply a flexbox to the children of the body element */
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}

/* Header */
header {
    background-color: lightcoral;
}

h1 {
    font-family: "Oswald", sans-serif;
}

/* Main Content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space by growing to fill, and push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}